<!DOCTYPE html>

<html>
  <head>
    <title> Index </title>
  </head>
  <body>
    <div id = "indexForm">
      Introduzca los siguientes datos para realizar la consulta:<br>
      <form method = "post">
        Mes: <input id="mes" type="text" name="mes" placeholder="MM"><br>
        A&ntilde;o: <input id="anio" type="text" name="anio" placeholder="YYYY"><br>
        Umbral inicial: <input id="iumbral" type="text" name="iumbral" placeholder="Umbral inicial"><br>
        Intervalo: <input id="iintervalo" type="text" name="iintervalo" placeholder="Intervalo"><br>
        Usar prepare: <input id="use_repare" type="text" name="use_repare" placeholder="Usar prepare (1 o 0)"><br>
        Parar en el m&aacute;ximo: <input id="break0" type="text" name="break0" placeholder="1 o 0"><br>
        N&uacute;mero de iteraciones: <input id="niter" type="text" name="niter" placeholder="niter"><br>
        <input type="submit" name="submit" value="submit"><br>
      </form>
    </div>
  </body>
</html>
