<!DOCTYPE html>

<html>
  <head>
    <title> Index </title>
  </head>
  <body>
    <div id = "indexForm">
      Introduzca los siguientes datos para realizar la consulta:<br>
      <form method = "post">
        <input id="mes" type="text" name="mes" placeholder="mes">
        <input id="anio" type="text" name="anio" placeholder="anio">
        <input id="iumbral" type="text" name="iumbral" placeholder="iumbral">
        <input id="iintervalo" type="text" name="iintervalo" placeholder="iintervalo">
        <input id="use_repare" type="text" name="use_repare" placeholder="use_repare">
        <input id="break0" type="text" name="break0" placeholder="break0">
        <input id="niter" type="text" name="niter" placeholder="niter">
        <input type="submit" name="submit" value="submit">
      </form>
    </div>
  </body>
</html>
