<!--Juan Riera y Luis Carabe-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title> Contacto </title>
  </head>
  <body>
    <div id="globalContainer">
      <div id="header">
          <a href="/">
              <div id="logo">
              <img src="{{ url_for('static', filename='imgs/Camera_logo.png')}}" alt="P" width="60" height="50">
              <img src="{{ url_for('static', filename='imgs/Peordede.png')}}" width="170" height="50"></div>
            </a>
        <div id="account">
          Bienvenido Juan Luis!
         <a href="../cuenta"><img src="{{ url_for('static', filename='imgs/iconoUsuario.png')}}" alt="Icono Usuario" height="40" width="40"></a>
        </div>
      </div>

    
      <div id="centralpane">
      
          <div id="menubar">
              <div id="menubarmargin">
                
              </div>
              <div id="menubarlist">
                <ul>
                
                  <li> <a href="/">Películas</a></li>
                  <li> <a href="../carrito">Carrito</a></li>
                  <li    class="selected"> <a class="a-selected" href="../contacto">Contacto y ayuda</a></li>
                </ul>
              </div>
            </div>
        <div id="content">
          <p>Peordede es tu página de videoclub favorita, si quieres contactar con nosotros puedes hacerlo de la siguiente manera:</p>
          <ul>
            <li> Twitter: peordedeOficial </li>
            <li> Instagram: peordedeInstagram </li>
            <li> Correo: peordede@info.com </li>
          </ul>
          ¿Todo lo que hacemos es legal?
          <br> ¡Por supuesto!
          <br> Somos Juan y Luis (Por si no lo habías visto abajo).
          <br> ¡Siéntete libre de preguntarnos cualquier cosa!
          <br><br> PD: no nos contactes para pedir bajada de precios

        </div>

      </div>
      <div id="footer">
          Juan Riera & Luis Cárabe &copy;
      </div> 
    </div>
  </body>
</html>

