<!--Juan Riera y Luis Carabe-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title> Cuenta </title>
  </head>
  <body>
    <div id="globalContainer">
      <div id="header">
          <a href="/">
              <div id="logo">
              <img src="{{ url_for('static', filename='imgs/Camera_logo.png')}}" alt="P" width="60" height="50">
              <img src="{{ url_for('static', filename='imgs/Peordede.png')}}" alt="Peordede" width="170" height="50"></div>
            </a>

            <div id="account">
              Bienvenido {{ log }}!
              <a href="cuenta"><img src="{{ url_for('static', filename='imgs/iconoUsuario.png')}}" alt="Icono Usuario" height="40" width="40"></a>
              <a href="logout">Log out</a>
            </div>

    
      </div>

    
      <div id="centralpane">
          <div id="menubar">
              <div id="menubarmargin">
                
              </div>
              <div id="menubarlist">
                <ul>
                
                  <li> <a href="/">Películas</a></li>
                  <li> <a href="../carrito">Carrito</a></li>
                  <li> <a href="../contacto">Contacto y ayuda</a></li>
                </ul>
              </div>
            </div>
        <div id="content">
          <p>Qué tal Juan Luis, este es el resumen de tu cuenta:</p>
          <br> <strong>Nombre</strong>: Juan Luis
          <br> <strong>Nombre usuario</strong>: jsonluis2
          <br> <strong>Correo</strong>: juanluispedro@uam.es
          <br> <strong>Num tarjeta</strong>: 7216541296
          <br> <br> Puedes...
            <button onclick="location.href='../historialCompras'" type="button">Consultar historial</button>
            <button onclick="location.href='/'" type="button">Desconectarte</button>


        </div>

      </div>
      <div id="footer">
          Juan Riera & Luis Cárabe &copy;</div>
    </div>
  </body>
</html>

