<!--Juan Riera y Luis Carabe-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title> Inicio Sesión </title>
  </head>
  <body>
    <div id="globalContainer">
      <div id="header">
          <a href="/">
              <div id="logo">
              <img src="{{ url_for('static', filename='imgs/Camera_logo.png')}}" alt="P" width="60" height="50">
              <img src="{{ url_for('static', filename='imgs/Peordede.png')}}" alt="Peordede" width="170" height="50"></div>
            </a>    
      </div>

      <div id="centralpane">
          <div id="menubar">
              <div id="menubarmargin">
              </div>
              <div id="menubarlist">
                <ul>
                  <li> <a href="/">Películas</a></li>
                  <li> <a href="../carrito">Carrito</a></li>
                  <li> <a href="../contacto">Contacto y ayuda</a></li>
                </ul>
              </div>
            </div>
        <div id="content">
          <h2>Inicio Sesión</h2>
          <div id="registro">
          <form>
            <p>
              <label for="nameField">Nombre usuario:</label>
              <input id="nameField" type="text" name="nombre" placeholder="nombre" required>
              {% if usrNoexiste %}
              <div class="red"> El usuario no existe</div>
              {% endif %}
            </p>
            <p>
              <label for="contraseniaField">Contraseña: </label>
              <input id="contraseniaField" type="password" name="contrasenia" placeholder="contraseña" required><br>
              {% if pswEquivocada %}
              <div class="red"> Contraseña incorrecta.</div>
              {% endif %}
            </p>
            <input type="submit" value="Iniciar sesión">
          </form>
          </div>
          
        </div>

      </div>
      <div id="footer">
          Juan Riera & Luis Cárabe &copy;
      </div>
    </div>
  </body>
</html>

