<!--Juan Riera y Luis Carabe-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">

    <script src="{{ url_for('static', filename='javascript/functionsregister.js')}}"> </script>
    <script>

      function getNumber(n) {
        console.log(n)
        return "{{ url_for('static', filename='imgs/Number') }}/" + n + ".png"
      }

      function contador() {
        console.log("HOLA")
        			var xhttp = new XMLHttpRequest();
        			xhttp.onreadystatechange = function() {
                var i = 0;
                var letter
          			if (xhttp.readyState == 4 && xhttp.status == 200) {

                  for(var i = 0; i< xhttp.responseText.length ; i++){
                    letter = xhttp.responseText.charAt(i)
                    console.log(letter)
                    document.getElementById("contador"+String(i)).src=getNumber(letter);
                    i+=1;
                  }
          			}
        			}
        			var dir = "../contador";
        			xhttp.open("POST", dir, true);
        			xhttp.send();

      		}


    </script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title> Registro </title>
  </head>
  <body>
    <script> window.setInterval(contador, 1000); </script>
    <div id="globalContainer">
      <div id="header">
          <a href="/">
              <div id="logo">
              <img src="{{ url_for('static', filename='imgs/Camera_logo.png')}}" alt="P" width="60" height="50">
              <img src="{{ url_for('static', filename='imgs/Peordede.png')}}" alt="Peordede" width="170" height="50"></div>
            </a>
      </div>


      <div id="centralpane">

          <div id="menubar">
              <div id="menubarmargin">

              </div>
              <div id="menubarlist">
                <ul>

                  <li> <a href="/">Películas</a></li>
                  <li> <a href="../carrito">Carrito</a></li>
                  <li> <a href="../contacto">Contacto y ayuda</a></li>
                </ul>
                <div id="contador">
                  <img id="contador0" src="{{ url_for('static', filename='imgs/Number/0.png')}}"
                    height="20px" width="20px">
                  <img id="contador1" src="{{ url_for('static', filename='imgs/Number/0.png')}}"
                    height="20px" width="20px">
                  <img id="contador2" src="{{ url_for('static', filename='imgs/Number/0.png')}}"
                    height="20px" width="20px">
                  <img id="contador3" src="{{ url_for('static', filename='imgs/Number/0.png')}}"
                    height="20px" width="20px">
                </div>
              </div>
            </div>
        <div id="content">
          <h2>Registro</h2>
          <div id="registro">
            <form onsubmit="return checkRegister()" action ="{{ url_for('registro') }}" method="post" >
              {% if existe %}
                <div class="red"> Nombre de usuario ya en uso</div>
              {% endif %}
            <p>
              <label for="usuarioField">Nombre usuario: </label>
              <input id="usuarioField" type="text" name="usuario" placeholder="Nombre de usuario" required>
            </p>
            <p>
              <label for="nombreField">Nombre: </label>
              <input id="nombreField" type="text" name="nombre" placeholder="Nombre" required>
            </p>
            <p>
              <label for="apellidosField">Apellidos:</label>
              <input id="apellidosField" type="text" name="apellidos" placeholder="Apellidos" required><br>
            </p>
            <p>
              <label for="usuarioField">Correo:</label>
              <input id="correoField" type="email" name="correo" placeholder="correo" required><br>
            </p>
            <p>
              <label for="contraseniaField">Contraseña: </label>
              <input id="contraseniaField" type="password" name="contrasenia" placeholder="contraseña" oninput="return checkPwd()" required><br>
            </p>
              <div id="securityMeter"> </div>
            <p>
               <label for="confContraseniaField">Confirmar contraseña: </label>
               <input id="confContraseniaField" type="password" name="contrasenia" placeholder="contraseña" required><br>
            </p>
            <p>
               <label for="tarjetaField">Num tarjeta:</label>
                <input id="tarjetaField" type="text" name="tarjeta" placeholder="tarjeta" required><br>
            </p>
            <p>
               <label for="secretNumField">Cod secreto tarjeta: </label>
               <input id="secretNumField" type="text" name="secretnum" placeholder="codigo secreto" required><br>
            </p>
            <p>
              <label for="agree"><input type="checkbox" id="agree" value="terminos"> Acepto términos y condiciones</label>
            </p>
              <input type="submit" value="Registro" >
            </form>
          </div>
        </div>

      </div>
      <div id="footer">
          Juan Riera & Luis Cárabe &copy;
      </div>
    </div>
  </body>
</html>
