<!--Juan Riera y Luis Carabe-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title> Cuenta </title>
  </head>
  <body>
    <div id="globalContainer">
      <div id="header">
          <a href="/">
              <div id="logo">
              <img src="{{ url_for('static', filename='imgs/Camera_logo.png')}}" alt="P" width="60" height="50">
              <img src="{{ url_for('static', filename='imgs/Peordede.png')}}" alt="Peordede" width="170" height="50"></div>
            </a>
            {% if log %}
            <div id="account">
              Bienvenido {{ log['username'] }}!
              <a href="../cuenta"><img src="{{ url_for('static', filename='imgs/iconoUsuario.png')}}" alt="Icono Usuario" height="40" width="40"></a>
              <a href="../logout"><img src="{{ url_for('static', filename='imgs/logout.png')}}" alt="Desconectar" height="25" width="25"></a>
            </div>

            {% endif %}
      </div>

    
      <div id="centralpane">
          <div id="menubar">
              <div id="menubarmargin">
                
              </div>
              <div id="menubarlist">
                <ul>
                
                  <li> <a href="/">Películas</a></li>
                  <li> <a href="../carrito">Carrito</a></li>
                  <li> <a href="../contacto">Contacto y ayuda</a></li>
                </ul>
              </div>
            </div>
        <div id="content">
          {% if log %}
          <p>Qué tal Juan Luis, este es el resumen de tu cuenta:</p>
          <br> <strong>Usuario</strong>: {{ log['username'] }}
          <br> <strong>Nombre</strong>: {{ log['name'] + " " +log['surname']}}
          <br> <strong>Correo</strong>: {{ log['email'] }}
          <br> <strong>Num tarjeta</strong>: {{ log['creditcard'] }}
          <br> <strong>Saldo</strong>: {{ log['saldo'] }}
          <br> <br> 
          <button onclick="location.href='../historialCompras'" type="button">Consultar historial</button>
          {% else %}
          <h2>Identifícate por favor.</h2>
          {% endif %}
        </div>

      </div>
      <div id="footer">
          Juan Riera & Luis Cárabe &copy;</div>
    </div>
  </body>
</html>

