#globalContainer {
	background-color:  #e74d4d ;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

a{
	text-decoration:none;
	color: inherit;
}

h1 {
	display: inline;
}

#header {
	color: white;
	background-color: #285238;
	float: top;
	height: 50px;
	text-align: center;
	font-family: sans-serif, courier new, arial;
	background-image: linear-gradient(to bottom,#285238, #08a045);
}


#headerAccount {
	float:right;
	text-align: rigth;
}


#menubar {
	float: left;
	color:white;
	background-color:#036016;
	background-image: linear-gradient(to right, #036016, #08a045);
	/*background-image: linear-gradient(to right, #036016 10%, #08a045);
	background-image: linear-gradient(to bottom, #036016 10%, #08a045);
	background-image: linear-gradient(to left, #036016 10%, #08a045);*/
	width: 150px;
	height: 100%;
	text-align: left;
}

#menubar ul {
	list-style-type: none;
	line-height: 1.8;
	font-family: courier new, arial;
}

#menubar ul .selected {
	font-weight: 1000;
	
}

#centralpane {
	font-family: garamond, courier new, arial, helvetica;
	height: 95%;
}

#content {
	float:center;
	color:white;
	background-color: #08a045 ;
	padding:10px;
	height: 100%;
	overflow: scroll;
}

#footer {
	float: bottom;
	text-align: right;
	color: #03440c;
	background-color: #fff;
	clear:both;
}
